<yuv-responsive-master-slave [slaveActive]="selected">

  <div class="search panel yuv-master">
    <yuv-quick-search [inline]="true" (querySubmit)="onQuickSearchQuery($event)"></yuv-quick-search>
    <yuv-search-result *ngIf="query" [query]="query" (itemsSelected)="select($event)"></yuv-search-result>
  </div>

  <div class="details yuv-slave">
    <yuv-object-details *ngIf="selected" [objectId]="selected"></yuv-object-details>
    <p-chart type="bar" [data]="chartData"></p-chart> 
  </div>

</yuv-responsive-master-slave>